<app-main-container>
  <!-- Lazy load demo -->
  <h2 class="mt-5">Lazy load modules Demonstration</h2>
  <p>Following links are lazy loaded, inspect network tab to see chunk file size:</p>

  <div class="card-container d-flex justify-content-start w-75">
    <a class="card" rel="noopener" routerLink="home">
      <span>Home</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" rel="noopener" routerLink="contact">
      <span>Contact</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" rel="noopener" routerLink="random">
      <span>Random</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <div class="w-100 d-flex justify-content-end" *ngIf="isLogged">
      <button class="btn btn-link" (click)="logout()">Log out</button>
    </div>
  </div>
</app-main-container>

<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>
